---
import { BasicAuth } from "../../func/auth";
import Layout from "../../layouts/Layout.astro";
import Editor from "../../components/Editor";
import type { GetArticle } from "../../types/R2";

const authorization = Astro.request.headers.get("authorization");
const { AUTH_USER, AUTH_PASS } = Astro.locals.runtime.env;
const auth = BasicAuth(Astro.request.headers, AUTH_USER, AUTH_PASS);
if (!auth) {
	Astro.response.status = 401;
	Astro.response.headers.set("WWW-Authenticate", 'Basic realm="realm"');
	Astro.response.headers.set("Content-Length", "0");
} else {
	Astro.response.status = 200;
	Astro.response.headers.delete("WWW-Authenticate");
	Astro.response.headers.delete("Content-Length");
}

const { API_ENDPOINT } = Astro.locals.runtime.env;
console.log("Path: ", Astro.params.slug);

const res = await fetch(API_ENDPOINT + `/articles/${Astro.params.slug}`);
if (!res.ok) {
	return Astro.redirect("/404");
}
const post = ((await res.json()) as GetArticle).data;
console.log(post);
---

<Layout title="Article Editor" description="Admin Only">
	<div id="editor-data" data-content={post.markdownContent}></div>
	<Editor client:only="react" />
</Layout>
