---
import { BasicAuth } from "../../func/auth";
import Editor from "../../components/Editor";
import type { GetArticle } from "../../types/R2";
import EditorLayout from "../../layouts/EditorLayout.astro";

const authorization = Astro.request.headers.get("authorization");
const { AUTH_USER, AUTH_PASS } = Astro.locals.runtime.env;
const auth = BasicAuth(Astro.request.headers, AUTH_USER, AUTH_PASS);
if (!auth) {
	Astro.response.status = 401;
	Astro.response.headers.set("WWW-Authenticate", 'Basic realm="realm"');
	Astro.response.headers.set("Content-Length", "0");
} else {
	Astro.response.status = 200;
	Astro.response.headers.delete("WWW-Authenticate");
	Astro.response.headers.delete("Content-Length");
}

const { API_ENDPOINT } = Astro.locals.runtime.env;
console.log("Path: ", Astro.params.slug);

let post: GetArticle["data"] | null;

const res = await fetch(API_ENDPOINT + `/articles/${Astro.params.slug}`);
if (!res.ok) {
	post = null;
} else {
	post = ((await res.json()) as GetArticle).data;
	console.log(post);
}
---

<EditorLayout title="Article Editor" description="Admin Only">
	<div id="slug" data-slug={Astro.params.slug}></div>
	{post?.draft == "true" && <div id="data-isdraft" />}
	{post && (
		<div id="md-title" data-title={post?.title}/>
		<div id="md-content" data-content={post?.markdownContent} />
	)}
	<Editor client:only="react" />
</EditorLayout>
