.CodeMirror {
	color: rgb(var(--colors-secondary-dark)) !important;
	border-radius: 8px !important;
	border-color: rgb(var(--border-color-line-dark)) !important;
	background-color: rgb(var(--background-color-bg-white-dark)) !important;
}

.CodeMirror-sided {
	border-radius: 0px !important;
}

.cm-s-easymde .CodeMirror-cursor {
	border-color: rgb(var(--border-color-line-dark)) !important;
}

.editor-toolbar {
	color: rgb(var(--colors-tertiary-dark)) !important;
	border: none !important;
	background-color: rgb(var(--background-color-bg-white-dark)) !important;
}

.separator {
	border-color: rgb(var(--border-color-line-dark)) !important;
}

.editor-toolbar > .active,
.editor-toolbar > button:hover,
.editor-preview pre,
.editor-preview-side,
.cm-s-easymde .cm-comment {
	color: rgb(var(--colors-secondary-dark)) !important;
	border-color: rgb(var(--border-color-line-dark)) !important;
	background-color: transparent !important;
}

.editor-preview {
	background-color: rgb(var(--background-color-bg-white-dark)) !important;
}

.cm-spell-error {
	background-color: rgba(0, 0, 0, 0) !important;
}

.cm-header-1 {
	font-weight: var(--font-weight-bold) !important;
	font-size: var(--text-3xl) !important;
}
.cm-header-2 {
	font-weight: var(--font-weight-bold) !important;
	font-size: var(--text-2xl) !important;
}
.cm-header-3 {
	font-weight: var(--font-weight-bold) !important;
	font-size: var(--text-xl) !important;
}
.cm-header-4 {
	font-weight: var(--font-weight-bold) !important;
	font-size: 1rem !important;
}
