---

---

<div class="flex sticky top-0 box-border h-min bg-gray-900 text-xl break-words break-keep">
	<header class="flex w-full h-14 p-4 justify-between items-center text-white shrink-0">
	  <h2>
		<!-- <a class={[styles.link, styles.name].join(" ")} to="/"> -->
		<a class="no-underline text-inherit text-2xl font-semibold" href="/">
		  ruka64
		</a>
	  </h2>
	  <ul class="list-none flex gap-4">
		<li>
		  <a class="no-underline text-inherit" href="/articles">
			blog
		  </a>
		</li>
		<li>
		  <a class="no-underline text-inherit" href="/about">
			about me
		  </a>
		</li>
	  </ul>
	</header>
  </div>