---

---

<div class="break-keep break-words h-min text-xl bg-gray-900 flex box-border m-0 sticky top-0">
	<header class="flex h-14 justify-between items-center text-white shrink-0 w-full p-4">
	  <h2>
		<!-- <a class={[styles.link, styles.name].join(" ")} to="/"> -->
		<a class="no-underline text-inherit text-2xl font-semibold" href="/">
		  ruka64
		</a>
	  </h2>
	  <ul class="list-none flex gap-4">
		<li>
		  <a class="no-underline text-inherit" href="/articles">
			blog
		  </a>
		</li>
		<li>
		  <a class="no-underline text-inherit" href="/about">
			about me
		  </a>
		</li>
	  </ul>
	</header>
  </div>